.container-start {
  align-items: center;
  background-color: #86ff65d4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5px;
  opacity: 1;
}

.start-game {
  align-items: center;
  background-color: #d4d4d8;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 10px;
}

.start > .btn-primary {
  width: max-content;
}

.card-start {
  background-color: #d4d4d8; 
  border: 8px solid transparent;
  border-image: linear-gradient(to bottom, black, white);
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(42, 42, 42, 0.513);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: min-content;
}

.cardsRest {
  color: #2A2B2E;
  font-weight: bold;
}

.btn-primary:hover, .btn-secondary:hover, .btn-warning:hover {
  font-weight: bold;
  transform: translateY(-2px);
  transition: 0.3s;
  border: 1.5px solid #2A2B2E;
}

.btn-secondary {
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #5f6062;
}
